*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  label{
    margin-top: 0;
  }
  body{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
  }
  header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    background-color: rgb(42, 49, 55);
    color: #988e8e;
    box-shadow: 1px 1px 10px black;
    position: fixed;
    z-index: 3
  }
  
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    color: #cac3c3;
    
  }

  .contacts-media-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 250px;
  }

  .contact-logo{
    width: 30px;
    height: auto;
  }

  .logo{
    width: 300px;
    height: auto;
    object-fit: contain;
  }

  a{
    text-decoration: none;
    color: #cac3c3;
  }

  main{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  .title-main{
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
    color: white;
  }

  footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(42, 49, 55);
    color: #988e8e;
    box-shadow: 1px 1px 10px black;
  }

  .background{
    background-image: url("BG.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main-class{
    color: white;
  }

  .container-div{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

  }

  .cont{
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .hidden{
    transition: all 1s ease;
    position: absolute;
    transform: translateX(200%);
    top: 150px;
    right: 100px;
    width: 25%;
  }

.nohidden{
    display: flex;
    position: fixed;
    flex-direction: column;
    transition: all 1s ease;
    top: 150px;
    right: 100px;
    transform: translateX(0%);
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.368);
    width: 25%;
    display: flex;
    justify-content: center;
    border-radius: 0;
    background-color: rgb(28, 28, 28);
    color: white;
  }

  #contact{
    width: 100%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    position: static;
    top: none;
    left: none;
    transform: none;
    transition: none;
    border-radius: 0;
    background-color: rgb(28, 28, 28);
    color: white;
  }